:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.proyects{
    padding-bottom: 5em;
    background-color: var(--primary);

}
.proyects-title-container{
    background-color: var(--primary);
    width: 100%;
    display: inline-block;
    justify-items: center;

}

.proyects-title{
    width: 50%;
    margin: 0;
    color: var(--white);
    background-color: var(--primary);
    position: relative;
    right: -25%;
    

}
span{
    color: var(--red);
}

.proyects-title::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.proyects-carrusel{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    padding-top: 3em;
    padding-bottom: 3em;
}
.proyects-carrusel::-webkit-scrollbar{
    display: none;
}

.elements{
    height: 15em;
}

.proyects-image{
    width: 15em;
    margin-right: 2em;
}

.replic{
    padding-left: 3em;
}

@media (min-width: 768px) {
    
    .proyects-title{
        width: 25%;
        position: relative;
        right: -40%;
    }
}

@media (min-width: 992px) {

    .proyects-title{
        width: 20%;
        position: relative;
        right: -43%;
    }
    
    .elements{
        height: 23em;
    }

    .proyects-image{
        width: 23em;
        margin-right: 4em;
    }
}

@media (min-width: 1200px) {

    .proyects-title{
        width: 16%;
        position: relative;
        right: -43%;
    }
   
    .elements{
        height: 28em;
        margin-top: 6em;
        margin-bottom: 10em;
    }

    .proyects-image{
        width: 28em;
        margin-right: 4em;
    }
}

@media (min-width: 1400px) {
    
    .proyects-title{
        width: 17%;
        position: relative;
        font-size: 2.5em;
    }
}