:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.proyects{
    padding-bottom: 5em;
    background-color: var(--primary);

}

.proyects-title{
    width: 100%;
    margin: 0;
    color: var(--white);
    background-color: var(--primary);
    

}
span{
    color: var(--red);
}

.proyects-title::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.proyects-carrusel{
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    scroll-behavior: smooth;
    flex-wrap: nowrap;
    padding-top: 3em;
}
.proyects-carrusel::-webkit-scrollbar{
    display: none;
}

.elements{
    height: 15em;
    width: 100%;
    background-color: var(--red);
    margin-right: 1em;
}