:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.hero{
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 3em;
    padding-bottom: 5em;
    width: 100%;
    background-color: var(--primary);
}

.hero-image-container{
    width: 14.5em;
    margin-bottom: 2.5em;
}

.portrait-image{
    width: 100%;
    height: 95%;
    border-radius: 10em;

}


.hero-h1{
    color: var(--white);
    font-size: 1.9rem;
    font-family: 'Inter', sans-serif;

}
.hero-name{
    color: var(--red)
}

.hero-h3{
    color: var(--white);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;

}

.hero-h1-container{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height:0;
}


/* MEDIAQUERYS */
@media (min-width: 768px) {
    .hero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .portrait-image{
        border-radius: 1.5em;
    }

    .hero-h1-container{
        align-content: flex-end;
    }

    .hero-h1{
        text-align: start;
    }
}