:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.hero{
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 3em;
    padding-bottom: 5em;
    width: 100%;
    background-color: var(--primary);
}

.hero-image-container{
    width: 14.5em;
    margin-bottom: 2em;
    margin-left: 2em;
    
}

.portrait-image{
    width: 100%;
    height: 80%;
    border-radius: 10em;

}


.hero-h1{
    color: var(--white);
    font-size: 3rem;  
    font-family: 'Inter', sans-serif;
    position: relative;
    top: -30%;

}
.hero-name{
    color: var(--red)
}

.hero-h3{
    color: var(--white);
    font-size: 1.2rem;
    font-family: 'Inter', sans-serif;
    position: relative;
    top: -70%;

}

.hero-text-container{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    line-height:0;
}




/* MEDIAQUERYS */



@media (min-width: 768px) {
    .hero{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        padding-bottom: 2em;
    }

    .portrait-image{
        border-radius: 1em;
        height: 100%;
        position: relative;
        left: -20%;
    }

    .hero-text-container{
        align-content: flex-end;
        padding-bottom: 3.5em;
    }

    .hero-h1{
        text-align: start;
        font-size: 3em;  

    }
    .hero-h3{
        text-align: start;
        font-size: clamp(1.2rem, 5vw, 1.5rem);  

    }
}

@media (min-width: 992px) {
    .hero{
        padding-bottom: 3em;
    }

    .hero-image-container{
        width: 30%;
        margin-left: 3em;
    }

    .portrait-image{
        border-radius: 1em;
        height: 90%;
        margin-top: 1em;

    }

    .hero-text-container{
        align-content: flex-end;
        padding-bottom: 3.9em;
    }
    
    .hero-h1{
        text-align: start;
        font-size: clamp(1.9rem, 10vw, 4.5rem);  
        margin-top: 2em;
        line-height: px;
    }
    .hero-h3{
        text-align: start;
        font-size: clamp(1.2rem, 5vw, 1.8rem);  

    }

}

@media (min-width: 1200px) {

    .hero{
        display: flex;
        justify-content: flex-end;
    }
    .portrait-image{
        border-radius: 1em;
        height: 85%;
    }

    .hero-text-container{
        align-content: center;
        padding-bottom: 3.5em;
        padding-left: 3em;
        margin-right: 9em;
    }

    .hero-h1{
        text-align: start;
        font-size: clamp(1.9rem, 10vw, 6rem);  

    }
    .hero-h3{
        text-align: start;
        font-size: clamp(1.2rem, 5vw, 2rem);  

    }

}

@media (min-width: 1400px) {
    
    .hero{
        display: flex;
        justify-content: flex-end;
    }
    .portrait-image{
        border-radius: 1em;
        height: 90%;
    }

    .hero-text-container{
        align-content: flex-end;
        padding-bottom: 6em;
        padding-left: 4.5em;
        margin-right: 6em;
    }

    .hero-h1{
        text-align: start;
        font-size: clamp(1.9rem, 10vw, 7rem);  

    }
    .hero-h3{
        text-align: start;
        font-size: clamp(1.2rem, 5vw, 2rem);  

    }
}

@media (min-width: 1600px) {
    .hero{
        display: flex;
        justify-content: flex-end;
    }
    .portrait-image{
        border-radius: 10%;
        height: 90%;
        width:90%;
    }

    .hero-text-container{
        align-content: flex-end;
        padding-bottom: 6em;
        padding-left: 4.5em;
        margin-right: 8em;
    }

    .hero-h1{
        text-align: start;
        font-size: clamp(1.9rem, 10vw, 8rem);  

    }
    .hero-h3{
        text-align: start;
        font-size: clamp(1.2rem, 5vw, 3rem);  

    }
}