.animation{
    background-color: white;
}

.animation {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    height: 90vh;
  }
  
  .animation-wrapper {
    width: 50%;
    padding-bottom: 50%;
  }
  
  .sphere-animation {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 380px;
    height: 380px;
    margin: -20em 0 0 -12em;
  }
  
  .sphere path {
    fill: url(#sphereGradient);
    stroke-width: 1px;
    stroke: rgba(80,80,80,.35);
    backface-visibility: hidden;
  }

  
  /* 
  @media (min-width: 500px) {
    .sphere path {
      stroke-width: .4px;
    }
  } */