:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.about-container{
    background-color: var(--primary);
    display: grid;
    justify-items: center;
    align-content: center;
    padding-bottom: 4em;
}

.about-title-container{
    width: 7em;
    align-items: start;
}

.about-title{
    color: var(--red);
    font-size: clamp(1.5em, 3vw, 2rem);

}

.about-title::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.about{
    background: var(--primary);
    display: grid;
    justify-items: center;
}



.about-me{
    width: 100%;
}

.about-me-description{
    color: var(--white);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(1em, 2.3vw, 3rem);
    padding: 0 1em;
}

.about-image-container{
    position: relative;
    left: -5%;
    display: inline-block;
    width:clamp(20em, 2vw, 50rem);
    padding-top: 2em;
}

.about-image{
    width: 90%;
    position: relative;
    right: -9%;

}



@media (min-width: 768px) {
    
    .about-container{
        display: inline-block;
        padding-top: 3em;
    }

    .about-title-container{
        width: 10em;
        align-items: center;
        padding-left: 3em;
    }

    .about{
        display: grid;
        grid-auto-flow: column;
        justify-content: center;
    }

    .about-me-description{
        text-align: start;
        padding-left: 2.5em;
        letter-spacing: 2px;
    }

    .about-image-container{
        position: relative;
        top: -20%;
        width: 100%;

    }
    
}

@media (min-width: 992px) {
    
    .about-title-container{
        width: 11em;
        align-items: start;
    }
    
    .about-title{
        font-size: clamp(1.5em, 3vw, 3rem);
    
    }

    .about-me-description{
        width: 85%;
        text-align: start;
        font-size: clamp(1em, 2.2vw, 3rem);
        padding: 0 0 0 2em;
    }
    
    .about-image-container{
        width:100%;
        position: relative;
        top: -29%;
        left: -25%;
    }
    
    .about-image{
        height: 100%;
        width: 105%;    
    }
}

@media (min-width: 1200px) {


    .about-title-container{
        width: 13em;
        align-items: start;
        margin-left: 2em;
    }
    

    .about-me-description{
        width: 70%;
        text-align: start;
        font-size: clamp(1em, 2vw, 3rem);
        margin-left: 1em;
    }
    
    .about-image-container{
        width:110%;
        position: relative;
        top: -29%;
        left: -40%;
    }
    
    .about-image{
        height: 100%;
    }
}

@media (min-width: 1400px) {

    .about-title-container{
        width: 14em;
        margin-left: 2em;
    }
    

    .about-me-description{
        width: 75%;
    }
    
    .about-image-container{
        width:120%;
        position: relative;
        top: -29%;
        left: -20%;
    }
    
    .about-image{
        height: 95%;
    }
}

@media (min-width: 1600px) {


    .about-title-container{
        width: 14em;
        margin-left: 2em;
    }
    

    .about-me-description{
        width: 75%;
    }
    
    .about-image-container{
        position: relative;
        top: -35%;
        left: -20%;
    }
    
    .about-image{
        height: 110%;
    }
}