:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.about-container{
    background-color: var(--primary);
    display: grid;
    justify-items: center;
    align-content: center;
}

.about-title-container{
    width: 30%;
    align-items: center
}

.about-title{
    color: var(--red);
    font-size: clamp(1.5em, 4vw, 2rem);

}

.about-title::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


.about{
    background: var(--primary);
    display: grid;
    justify-items: center;
}



.about-me{
    width: 90%
}

.about-me-description{
    color: var(--white);
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-size: clamp(1em, 4vw, 2rem);
}

.about-image-container{
    display: inline-block;
    width: 100%;
}

.about-image{
    width: 70%;
    padding: 1em 3.3em;
}



@media (min-width: 768px) {
    .about{
        display: flex;
    }
}