:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.contact{
    width: 80%;
}

.contact-container{
    display: grid;
    justify-items: center;
    background-color: var(--primary);
}

.contact-title-container{
    color: var(--red);

}

.contact-title::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.contact-form{
    display: grid;
}

.contact-form-label{
    color: var(--white);
    margin-right: 1em;
}

.contact-form-input{
    height: 2em;
    margin-bottom: 3em;
    background-color: var(--primary);
}

input, textarea{
    border: 1px solid var(--red);
    border-radius: 0;
  
    -webkit-appearance: none;
}

.contact-form-input::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}