:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

.contact{
    width: 80%;
    border: none;
}

.contact-container{
    display: grid;
    justify-items: center;
    background-color: var(--primary);
}

.contact-title-container{
    color: var(--white);

}

.contact-title::after{
    content: "";
    display: block;
    background-color: var(--red);
    height:2px;
    width: 100%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}


