:root{
    --primary: #0B090A;
    --red: #A4161A;
    --white: #ffffff;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.navbar{
    background-color: var(--primary);
}

.navbar-header{
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid var(--red); */
}

.navbar-menu-mobile{
    color: var(--red);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.brand-link{
    color: var(--white);
    font-size: 2rem;
}

.brand{
    width: 3.5em;
}

.contact{
    border: 1px solid #A4161A;
    padding: 0.6em 0.85em;
}

.navbar-container{
    position: absolute;
    background: var(--primary);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 0px; /* in was in 400px but now is a 0 until a fix it back */
    overflow: hidden;
    transition: height 0.4s ease;
}

.navbar-link{
    color: var(--white);
}

#navbar-header:target .navbar-container{
    height: 400px;
}

#navbar-header:target .open{
    display: none;
}

#navbar-header:target .close{
    display: flex;
}

.open-icon{
    height: 40px;
    width: 40px;
}

.close-icon{
    height: 40px;
    width: 40px;
}

.close{
    display: none;
    height: 34px;
}

                                    /* MEDIAQUERYS */
@media (min-width: 768px) {
    html{
        font-size: 100%;
    }
    .navbar{
        display: flex;
        justify-content: space-between;

    }

    .navbar-menu-mobile{
        display: none;
    }
    
    .navbar-container{
        height: auto;
        flex-direction: row;
        position: static;
        width: 60%;
    }
}