.navbar{
    background-color: #0B090A;
    padding: .4rem;
}

.navbar-link-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

h2{
    color: #A4161A;
}

.navbar-li{
    margin-left: 1rem;
}

.navbar-link{
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    cursor: pointer;
}

.contact{
    border: 2px solid #A4161A;
    padding: 10px 20px;
}


/*MEDIAQUERYS FOR THE Burguer*/


