.button{
    color: #000000;
    border: none;
    border-radius: 0.4em;
    padding: 0.5em 2em 0.5em 1em; 
    display: flex;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    width: 10em;
}